<div>
<h1>BTE Movement Screen App</h1>
<p>*Here's how to use this app (watch the video before asking us questions)*</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cxMeM08SJK8" frameborder="0" allowfullscreen></iframe>

<h3>Put your email in below to get started (we'll email you the results):</h3>
<%= form_with url: '/', method: :post, local: true do |form|%>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
    <br>
    <br>
    <%= form.submit "Submit" %> 
<% end %>
</div>