<div>
<h1>BTE Movement Screen</h1>
<p>Step 1: Watch this video to learn how the movement screen works and how to use it</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ViRxQWJxLBY" frameborder="0" allowfullscreen></iframe>

<h3>Step 2: Put your email in below to get started (we'll email you the results):</h3>
<%= form_with url: '/', method: :post, local: true do |form|%>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
    <br>
    <br>
    <%= form.submit "Submit" %> 
<% end %>
</div>