<div>
<h2>Learn about the BTE Movement App & the Exercises</h2>
<h3>*Overview of the BTE Movement App*</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cxMeM08SJK8" frameborder="0" allowfullscreen></iframe>

<h3>*Purpose of Primary Movements*</h3>
<p>In this video, we cover the the roll of primary movements, how to get the most out of them, how to think about them, and how often to work them into your training schedule.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/e6PPgJ3S9sI" frameborder="0" allowfullscreen></iframe>

<h3>*Purpose of Secondary Movements*</h3>
<p>In this video, we cover the the role of secondary movements.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/aSBDJmQ5_zY" frameborder="0" allowfullscreen></iframe>

<h3>*Foot Interaction and Relative Motions*</h3>
<p>In this video, we cover the importance of the foot in the movement drills and how it impacts relative motion.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bVEI0ksy96A" frameborder="0" allowfullscreen></iframe>
<br>
<br>
</div>